body{
	margin: 0px
	padding:0px;
	font-family: 'Roboto', sans-serif;
}

h1{
	background-color: #191919;
	color: #00ff97;
	text-align: center;
	height:80px;
	padding-top:10px;
	font-family: 'Roboto', sans-serif;
}

.wrap{
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50% ,-50%);

}

.row{
	margin: 20px;

}
#counter{
	width:290px;
	height: 80px; 
	background-color: #191919;
	padding-left: 40px;
	outline: 1px solid white;

}
#min ,#sec ,#msec ,#dot{
	color: #00ff97;
	font-size: 32px;
	font-family: 'Roboto', sans-serif;
}
#btn-right{
	background-color:red;
	color: white;
	margin-left:18px;
	outline:1px solid white;
	border:none;
	width: 80px;
}
#btn-center{
	background-color:orange;
	color: white;
	margin-left:18px;
	outline:1px solid white;
	border:none;
	width: 80px;
}

.btn-left{
	background-color:green;
	color: white;
/*	margin-left: 50px;*/
	outline:1px solid white;
	border:none;
	width: 80px;
} 


#btn-right:hover{
	background-color: #c01a00;
}
#btn-center:hover{
	background-color: #f88c44;
}
.btn-left:hover{
	background-color:#1ec100;
}
p{
	text-align: center;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50% ,-80%);
	color: #00ff97;
	font-size: 32px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
}